body{
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav button{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.navLogo{
    font-size: 28px;
    color: #444646;
    font-weight: bold;
}
.firstPart, .secondPart{
    display: flex;
    gap: 40px;

}