body{
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    margin: 20px;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav button{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.navLogo{
    font-size: 28px;
    color: #444646;
    font-weight: bold;
}
.firstPart, .secondPart{
    display: flex;
    gap: 40px;
}
.headerBloc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5em;
}
.headerBloc h1{
    font-size: 56px;
    margin: 0;
}
.headerBloc button{
    height: 50px;
    width: 300px;
    border-radius: 15px;
    background-color: #00a96d;
    color: white;
}
.petit{
    width: 480px;
    padding: 10px;
}
.noCredit{
    font-size: smaller;
}
.trustCaroussel{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.containerOrange, .containerGreen{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 100px;
    padding: 0px 0px 0px 100px;
}
.fixContent {
    padding-left: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.fixContent h2{
    text-align:right;
}
.fixContent button{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border:1px solid black;
    background-color: #45f5bb;
    margin: 20px 0px 40px 290px;
}


.imgGreen{
    position: absolute;
    right: 120px;
    top: 90px;
}
.pamela, .jackson{
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.yellowFooter{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 50px;
    height: 160px;
    padding: 10px 30px;
    width: 1000px;
    background-color: #ffc497;
}
.greenFooter{
    display: flex;
    border: 1px solid black;
    border-radius: 50px;
    height: 160px;
    padding: 50px 30px 10px 30px;
    width: 900px;
    background-color: #42f7be;
    justify-content: space-evenly;
}
.greenFooter p, .yellowFooter p{
    height: 100px;
    width: 500px;
}
.bloc1{
    margin: 20px 40px;
    width: 460px;
}
.bloc2{
    padding-left: 280px;
    margin: 20px 0px;
    width: 500px;
}
.containerOrange h2, .containerGreen h2{
    margin:0px 0px 0px 40px;
    font-size: 40px;
    padding: 0px;
}
.containerOrange button{
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border:1px solid black;
    background-color: #ffc497;
    margin: 20px 0px 40px 40px;
}

.googleAds, .fbAds, .fb, .insta{
    display: flex;
    flex-direction: column;
    width: 230px;
    font-size: 14px;
    margin: 0px 0px 0px 40px;
}
.sellContent{
    display: flex;
    position: relative;
}
.growContent{
        display: flex;
        justify-content:right;
        margin-left: 40px;
        width: 840px;
}
.blocGreen{
    width: 500px;
    position: relative;
}
.blocImage{
    position: absolute;
    left: 689px;
    bottom: -39px;
}
.author, .iconTrust{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.authorGreen{
    display: flex;
    gap: 20px;
}
.iconTrust{
    height: 20px;
    width: 70px;
}
.iconTrustreverse{
    flex: 2;
    display: flex;
    gap: 20px;
    align-items: flex-end;
    height: 140px;
}
.bloc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 900px;
}
.blocGreenfooter{
    flex: 3;
    display: flex;
    flex-direction: column;
    text-align: left;
}
