body{
    margin: 20px;
    justify-content: center;
    align-items: center;
}
header{
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav button{
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.navLogo{
    font-size: 28px;
    color: #444646;
    font-weight: bold;
}
.firstPart, .secondPart{
    display: flex;
    gap: 40px;
}
.headerBloc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5em;
}
.headerBloc h1{
    font-size: 56px;
    margin: 0;
}
.headerBloc button{
    height: 50px;
    width: 300px;
    border-radius: 15px;
    background-color: #00a96d;
    color: white;
}
.petit{
    width: 480px;
    padding: 10px;
}
.noCredit{
    font-size: smaller;
}
.trustCaroussel{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}